@media (max-width: 320px) {
    body{
        width: 100%;
    }
    section h1, section p{
        width: 100%;
    }
    form input {
        width: 87%;
    }
    form button {
        margin-left: 65%;
    } 
    .circ1, .circ2, .circ3 {
        padding: 45px;
        font-size: 2rem;
    }
}
@media (max-width: 360px) {
    body{
        width: 100%;
    }
    section h1, section p{
        width: 100%;
    }
    form input {
        width: 87%;
    }
    form button {
        margin-left: 65%;
    } 
    .circ1, .circ2, .circ3 {
        padding: 30px;
        font-size: 2rem;
    }
    footer{
        margin: 0px 33px 0px 3px;
    }
}
@media (min-width: 375px) {
    section h1 {
        font-size: 28px;
        width: 100%;
        text-align: center;
    }
    section p {
        width: 100%;
        font-size: 18px;
        text-align: center;
    }
    form h3 {
        text-align: center;
    }
    footer {
        margin: 0;
        width: 100%;
    }
    .circ1, .circ2, .circ3 {
        padding: 35px;
        font-size: 2rem;
    }
}
@media (min-width: 425px) {
    .circ1, .circ2, .circ3 {
        padding: 45px;
        font-size: 2rem;
    }
}
@media (min-width: 768px) {
    .circ1, .circ2, .circ3 {
        padding: 100px;
        font-size: 2rem;
    }
}
@media (min-width: 1024px) {
    .circ1, .circ2, .circ3 {
        padding: 8rem;
        font-size: 3rem;
    }
}