@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Poppins', sans-serif;
    background: rgba(0,0,0,1)url(images/muica-bg.jpg);
    background-size: cover;
}
header {
    padding: 25px 10px;
    font-size: 13px;
}
header h1 {
    color: rgb(2, 255, 52);
}
header span {
    color: #fff;
}
section h1{
    padding: 25px 10px;
    font-size: 25px;
    color: #fff;
    width: 50%;
}
section p {
    padding: 25px 10px;
    font-size: 18px;
    width: 50%;
    color: #fff;
}
label {
    padding: 25px 10px;
}
label button {
    margin-right: 25px;
}
form h3 {
    padding: 25px 10px;
    font-size: 20px;
    color: #fff;
}
footer {
    margin: 50px 0px 0px 50px;
}
button {
    background:none;
    border: none;
    text-decoration: none;
    font-size: 30px;
}
.btn {
    color: rgb(203, 37, 37);
}
.icons {
    display: flex;
    color: rgb(253, 249, 249);
}
.circ1, 
.circ2,
.circ3 {
    font-size: 1.5em;
    padding: 0px 37px 0px 26px;
    margin: 10px;
    cursor: pointer;

    padding: 15px;
    border-radius: 30px;
}
.circ1:hover {
    color: rgb(217, 217, 38);
}
.circ2:hover {
    color: rgb(19, 9, 212);
}
.circ3:hover {
    color: rgb(233, 197, 15);
}